<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PropelHub-Contact</title>
    <link rel="stylesheet" href="/static/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>

<body>
    <div class="header">
        <div class="logo raise-up">
            <img src="/static/assets/log.png" alt="" class="logo">
            <div class="name">PropelHub</div>
        </div>
        <nav class="db">
            <a href="home.html" class="box">HOME</a>
            <a href="about.html" class="box">ABOUT US</a>
            <a href="teams.html" class="box">TEAMS</a>
            <a href="projects.html" class="box">PROJECTS</a>
            <a href="gallery.html" class="box">GALLERY</a>
            <a href="contact.html" class="box selected">CONTACT US</a>
        </nav>
    </div>
    <div style="height: 7vh;"></div>
    <div class="contact-container">
        <div class="contact-info">
            <div class="contact-bg">
                <img src="/static/assets/dronebg.jpg" alt="Background" class="contact-bg-img">
            </div>
            <div class="contact-details">
                <h3>Address</h3>
                <p><a href="https://www.google.com/maps/place/BMS+College+of+Engineering/@12.9415951,77.565235,17z/data=!3m1!4b1!4m6!3m5!1s0x3bae159e1e4e0c05:0x1a8d3e1c3c0d9c3e!8m2!3d12.9415951!4d77.5674237!16s%2Fg%2F11b6_3t4w1"
                        target="_blank">
                        BMS College of Engineering
                        Bull Temple Road,
                        Basavanagudi,
                        Bengaluru, Karnataka 560019</a></p>
                <h3>Let's Talk</h3>
                <p class="contact-phone"><a href="tel:#">91+ XXXXXXXXXX</a></p>
                <h3>General Support</h3>
                <p><a href="mailto:contact@propelhub.com">contact@propelhub.com</a></p>
                <div class="social-links">
                    <a href="https://www.instagram.com/bmsceaero" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/aerobmsce" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/company/aero-bmsce" target="_blank"><i
                            class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="input">
            <h2>We'd Love to Hear from You! Get in Touch</h2>
            <input type="text" placeholder="Name" name="name">
            <input type="number" placeholder="Contact Number" name="number">
            <input type="email" placeholder="Email" name="email">
            <input type="text" placeholder="Your Message" name="message">
            <input type="submit" value="Send">
        </div>
    </div>
    <div style="height: 5vh;"></div>
    <div class="footer">
        Copyright © 2025 PropelHub
    </div>
</body>

</html>